@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.spclogo {
  max-width: 250px;
  margin-left: 50px
}

.nav-fontcolor {
  color: #fff;
}

@media screen and (max-width: 500px) {
  .spclogo {
    max-width: 150px;
    margin-left: 10px
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

.link {
  text-decoration: none;
  text-align: center;
}

.blog-con {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

.blog-item img {
  width: 100%;
  text-align: center;
}

.centerer {
  display: flex;
  justify-content: center;
}

ul.unlist {
  list-style-type: circle;
}

.center2 {
  margin: auto;
}
.tb-stip{
  --bs-table-color: #000;
    --bs-table-bg: #ff7a0136;;
    --bs-table-border-color: #ff7a01;
    --bs-table-striped-bg: #dec775;;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #bcd0c7;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #1008006b;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.strip {
  --bs-table-striped-bg: #ff7a0145;
}
.backdate{
  background-image: url('/spc2024/img/earthbulb.jpg');
}
.imageback {
  background-image: url(/spc2024/img/sci2.JPG);
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width:1500px) {
  .imageback {
    height: 190px;
  }
}
@media screen and (min-width: 601px) {
  .resfont {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  .resfont {
    font-size: 2.5vw;
  }
  .imageback {
    height: 150px;
  }
}

@media screen and (min-width: 992px) {
  .menunav {
    position: absolute;
    right: 50px;
  }
}

@media screen and (max-width: 991px) {
  .menunav {
    display: inline-block;
    float: right;
  }
}

.countdown-container {
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: space-between;
  margin: auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 122 1 / 20%);
  border: 5px solid rgb(255 122 1 / 70%);
  width: 140px;
  height: 140px;
  border-radius: 99px;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.5em;
  margin: 10px 0;
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media (max-width: 800px) {

  .countdown-container {
    max-width: 90%;
  }

  .countdown {
    font-size: 0.8em;
    width: 100px;
    height: 100px;
  }
}
.footera {
  background-image: linear-gradient(
    to right,
    #54cfe1,
    #54cfe1 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.footera:before{
  content: '';
  background: #54cfe1;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.footera:hover {
 background-position: 0;
}

.footera:hover::before{
  width: 100%;
}
