@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.spclogo {
  max-width: 250px;
  margin-left: 50px
}

.nav-fontcolor {
  color: #006a71;
  font-size: 1.8rem;
  text-shadow: 2px 1px #a96fb3;
}
.foot-fontcolor {
  color: #006a71;
  text-shadow: 1px 0.5px #a96fb3;
}

@media screen and (max-width: 500px) {
  .spclogo {
    max-width: 150px;
    margin-left: 10px
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

.link {
  text-decoration: none;
  text-align: center;
}

.blog-con {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}

.blog-item img {
  width: 100%;
  text-align: center;
}

.centerer {
  display: flex;
  justify-content: center;
}

ul.unlist {
  list-style-type: circle;
}

.center2 {
  margin: auto;
}

.tb-stip {
  --bs-table-color: #000;
  --bs-table-bg: #ff7a0136;
  ;
  --bs-table-border-color: #ff7a01;
  --bs-table-striped-bg: #dec775;
  ;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bcd0c7;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #1008006b;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.strip {
  --bs-table-striped-bg: #ff7a0145;
}

.backdate {
  background-image: url('/spc2024/img/earthbulb.jpg');
}

.imageback {
  background-image: url(/spc2024/img/sci2.JPG);
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:1500px) {
  .imageback {
    height: 190px;
  }
}

@media screen and (min-width: 601px) {
  .resfont {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 600px) {
  .resfont {
    font-size: 2.5vw;
  }

  .imageback {
    height: 150px;
  }
}

@media screen and (min-width: 992px) {
  .menunav {
    position: absolute;
    right: 50px;
  }
}

@media screen and (max-width: 991px) {
  .menunav {
    display: inline-block;
    float: right;
  }

  .center2 {
    margin: 0;
  }
}

.countdown-container {
  display: flex;
  width: 100%;
  max-width: 70%;
  justify-content: space-between;
  margin: auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 122 1 / 20%);
  border: 5px solid rgb(255 122 1 / 70%);
  width: 140px;
  height: 140px;
  border-radius: 99px;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.5em;
}


.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
}

@media (max-width: 800px) {

  /* .countdown-container {
    max-width: 90%;
  } */
  .fss-14 {
    font-size: 14px;
  }

  .countdown {
    font-size: 0.5em;
    width: 60px;
    height: 60px;
  }
}

.footera {
  background-image: linear-gradient(to right,
      #54cfe1,
      #54cfe1 50%,
      #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.footera:before {
  content: '';
  background: #54cfe1;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.footera:hover {
  background-position: 0;
}

.footera:hover::before {
  width: 100%;
}

.abw {
  background-image: linear-gradient(to right,
      #0010f1,
      #0010f1 50%,
      #070707 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.abw:before {
  content: '';
  background: #0010f1;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.abw:hover {
  background-position: 0;
}

.abw:hover::before {
  width: 100%;
}

.alert-secondary {
  --bs-alert-color: #353535;
  --bs-alert-bg: #c1c1c1;
  --bs-alert-border-color: #676767;
  --bs-alert-link-color: #54cfe1;
}

@media (min-width: 577px) {
  .titlebut {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .titlebut {
    width: 150px;
  }

  .mtop-3 {
    margin-top: 3%;
  }
}

.bgorange {
  background-color: rgb(255 122 1 / 20%);
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  max-width: 185px;
  margin: 0% 5px 2% 2%;
}

.btn2 {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
}

.btn2:hover {
  background-position: 0;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.short-input {
  width: 500px;
  background-color: rgb(255 122 1 / 20%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: block;
  margin: auto;
}

.gray {
  color: #656565;
}
@media (max-width: 768px) {
  .resfont2 {
    font-size: 0.6rem;
  }
  .resw-100{
    width: 100% !important;
  }
}
.font-concert {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
